<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="utf-8">
		<title>kalyah</title>

		<link href="/css/header.css" rel="stylesheet">
		<link href="/css/edit_password.css" rel="stylesheet">
	</head>

	<body>
		<ul class="nav">
			<li class="nav_li"><a href="/passwords">back to passwords</li>
			<li class="nav_li"><a href="/passwords/create">new password</a></li>
			<li class="logout"><a href="/logout">logout</a></li>
		</ul>


		<div class="container">
			<input type="hidden" value="{{{id}}}" id="id">
			<ul class="fields">
				<li>
					<label for="original_link">Full Login URL</label>
					<input type="text" id="original_link" name="url" value="{{{link}}}" onchange="updateField(event, this)">
					<br>
				</li>
				<li>
					<label for="cred_user">Username for this login</label>
					<input type="text" id="cred_user" name="username" value="{{{username}}}" onchange="updateField(event, this)">
					<br>
				</li>
				<li>
					<label for="cred_pass">
						Password for this login
						<button type="button" id="p_btn" class="btn btn-info btn-sm">un hide</button>
					</label>
					<input type="password" id="cred_pass" name="password" value="{{{password}}}" onchange="updateField(event, this)">
					<br>
				</li>
				<li>
					<p class="ta">
						<label for="additional_notes">Additional notes</label>
						<textarea id="additional_notes" rows="2" maxlength="200" name="notes" onchange="updateField(event, this)">{{notes}}</textarea>
					</p>
				</li>
				<li>
					<a href="/passwords/delete/{{{id}}}">delete</a>
				</li>
				<li id="m"></li>
			</ul>
		</div>

	</body>
	<script src="/js/edit_password.js"></script>
</html>
