<!DOCTYPE html>

<html>
	<head>
		<title>kalyah</title>
	</head>

	<body>
		{{#each row}}
		<h1>Resource #{{this.password_id}}</h1>

		<a href = "/app/manage_passwords">resources</a>

		<h3>URL: <a href = {{this.original_link}}>{{this.original_link}}</a></h3>

		<h3>username: <h3 id = "username">{{this.cred_user}}</h3></h3>
		<button class = "copy" data-clipboard-text = {{this.cred_user}}>copy</button>
		
		<h3>password: <h3 id = "view_pass">********</h3></h3> 
		<button id = "pass_button" onclick = "toggle_pass();">see password</button>
		<button class = "copy" data-clipboard-text = {{this.cred_pass}}>copy</button>
		<input id = "password" type = "hidden" value = {{this.cred_pass}}>
		

		<h3>date created: {{this.date_added}}</h3>

		<h3>creator: {{this.creator}}</h3>

		<h3>additional information:</h3>
		<p>{{this.additional_information}}</p>

		<h3>related files:</h3>
		<p>{{this.additional_img_paths}}</p>
		{{/each}}

	<script src = "/js/clipboard.min.js"></script>
	<script>
		var view_pass = document.getElementById("view_pass");
		var password = document.getElementById("password");
		var pass_button = document.getElementById("pass_button");

		new ClipboardJS(".copy");

		var count = 0;

		function toggle_pass() {
			count += 1;

			if (count % 2) {
				view_pass.textContent = password.value;
				pass_button.textContent = "hide password";
			} else {
				view_pass.textContent = "********";
				pass_button.textContent = "see password";
			}
		}
	</script>
	</body>
</html>
