<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>kalyah</title>
		<link rel="stylesheet" href="/css/password.css">
		<link rel="stylesheet" href="/css/header.css">
	</head>

	<body>
		<ul class="nav">
			<li class="nav_li">password manager</li>
			<li class="nav_li"><a href="/passwords/create">new password</a></li>
			<li class="logout"><a href="/logout">logout</a></li>
		</ul>

		<div class="container">
			<h2>{{username}}'s passwords</h2><p id="m"></p>

			{{#each password}}
			<div class="password_card">
				<p><a href="{{{this.link}}}" target="_blank">{{this.website}}</a></p>
				<input value="{{{this.username}}}" type="hidden" id="username{{{this.id}}}">
				<button data-clipboard-target="#username{{{this.id}}}" id="usernameb{{{this.id}}}" class="btn" onclick="copy('usernameb{{{this.id}}}', 'username')">username</button>
				<input value="{{{this.password}}}" type="hidden" id="password{{{this.id}}}">
				<button data-clipboard-target="#password{{{this.id}}}" class="btn" id="passwordb{{{this.id}}}" onclick="copy('passwordb{{{this.id}}}', 'password')">password</button>
				<input value="{{{this.share}}}" type="hidden" id="share{{{this.id}}}">
				<button data-clipboard-target="#share{{{this.id}}}" class="btn" id="shareb{{{this.id}}}" onclick="copy('shareb{{{this.id}}}', 'share credentials')">share credentials</button>
				<p><a href="/passwords/{{{this.id}}}">details</a></p>
			</div>
			{{/each}}
		</div>
		
		<script src="/js/clipboard.min.js"></script>
		<script src="/js/password.js"></script>
	</body>
</html>
