<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>kalyah</title>
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/share_password.css">
	</head>
	<body>
		<ul class="nav">
			<li class="nav_li"><a href="/">keysue password manager</a></li>
			<li class="nav_li" id="m"></li>
			<li class="logout"><a href="/logout">logout</a></li>
		</ul>

		<div class="container">
			<h2>password details for <a id="link" href="{{{link}}}" target="_blank">{{website}}</a></h1>
			<p>shared from {{creator}}</p>

			<input type="hidden" value="{{{username}}}" id="u">
			<button class="btn" data-clipboard-target="#u" id="u2" onclick="copy('u2', 'username')">username</button>

			<input type="hidden" value="{{{password}}}" id="p">
			<button class="btn" data-clipboard-target="#p" id="p2" onclick="copy('p2', 'password')">password</button>

			<p>notes: {{notes}}</p>
		</div>

		<script src="/js/clipboard.min.js"></script>
		<script src="/js/share.js"></script>
	</body>
</html>

