<!DOCTYPE html>

<html>
	<head>
		<title>Career Details</title>
	</head>
	<body>
		<p>Career Details</p>
		<a href="/panel/logout">Logout</a>
		<a href="/panel/">Back</a>

		{{#each data}}
		<a href="/panel/delete_career/{{{this.id}}}">Delete</a>
		<form method="post" action="/panel/edit_career">
				<input type="hidden" name="id" value="{{{this.id}}}">

			        <label for="title">Title</label>
				<input type="text" id="title" name="title" value="{{{this.title}}}" required><br><br>

				<label for="location">Location</label>
				<input type="text" id="location" name="location" value="{{{this.location}}}"><br><br>

				<label for="experience">Experience</label><br>
				<textarea id="experience" name="experience" rows="4" cols="50">{{this.experience}}</textarea><br><br>

				<label for="key_skills">Key Skills</label><br>
				<textarea id="key_skills" name="key_skills" rows="4" cols="50">{{this.key_skills}}</textarea><br><br>

				<label for="description">Description</label><br>
				<textarea id="description" name="description" rows="8" cols="50">{{this.desc}}</textarea><br><br>

				<input type="submit" value="Save">
		</form>
		{{/each}}
	</body>
</html>

